@import "../../scss/settings/fonts.scss";
@import "../../scss/settings/colors.scss";
@import "../../scss/settings/breakpoints.scss";

.Foundation {
  &-selector {
    display: flex;
    justify-content: center;
    @include M {
      flex-direction: column;
      align-items: center;
    }
    &__button {
      display: flex;
      font-size: 1.5rem;
      width: 14rem;
      height: 4rem;
      margin: 1.375rem;
      text-decoration: none;
      color: $textColor;
      align-items: center;
      justify-content: center;
      padding: 0 4rem;
      border: 1px solid;
      border-color: $textColor;
      @include M {
        font-size: 1.2rem;
        padding: 0;
      }
      @media (min-width: 428px) {
        &:hover {
          background-color: $accentColor;
          cursor: pointer;
        }
      }
    }
  }
  > p {
    font-size: 1.4rem;
    width: 44rem;
    margin: 2rem auto;
    @include M {
      font-size: 1rem;
      width: auto;
      margin: 2rem;
    }
  }
}
