@import "../../scss/settings/breakpoints.scss";

.DecoratedHeader {
  margin: 3rem 1rem;
  font-size: 2.375rem;
  > h2 {
    margin-top: 0.5rem;
    @include M {
      font-size: 1.7rem;
    }
  }
  &_bottomText {
    @include M {
      font-size: 1.7rem;
    }
    &::after {
      content: " ";
      display: block;
      margin: 1.5rem auto;
      width: 15.8rem;
      height: 2rem;
      background-image: url(../../assets/Decoration.svg);
    }
  }
}
