@import '../../scss/settings/fonts.scss';
@import '../../scss/settings/colors.scss';

.ThreeColumns {
  display: flex;
  justify-content: space-evenly;
  height: 24rem;
  width: 100vw;
  background-image: url(../../assets/3-Columns-Background.png);
  &-column {
    margin-top: 2.85rem;
    max-width: 20rem;
    &__number {
      font-size: 5.6rem;
      padding: 2rem;
      color: $largeTextColor;
    }
    &__title {
      font-size: 1.2rem;
    }
    &__text {
font-family: $font-alt;
      margin-top: 1.5rem;
    }
  }
}