@import "../../../scss/settings/colors.scss";

.InfoBar {
  height: 10rem;
  background-color: $accentColor;
  text-align: left;
  padding: 2rem;
  &__header {
    margin-left: 8rem;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  &__text {
    display: block;
    margin-left: 8rem;
    font-size: 1.5rem;
  }
}
