@import "../../../scss/settings/colors.scss";

.Step-container {
  text-align: left;
  padding: 2rem;
  height: 34rem;
}

.Step-number {
  margin-left: 8rem;
  font-size: 1.5rem;
}
.Step-body {
  &__header {
    margin-top: 4rem;
    margin-left: 8rem;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }
}

.Step1-body {
  font-size: 1.5rem;
  &-checklist {
    display: flex;
    flex-direction: column;
    &-item {
      display: flex;
      align-items: center;
      &__checkmark {
        margin: 1rem 1rem 1rem 8rem;
        appearance: none;
        cursor: pointer;
        height: 2rem;
        width: 2rem;
        border: 1px solid;
        &:hover {
          background-color: $accentColor;
        }
        &:checked {
          background-color: $accentColor;
        }
      }
    }
  }
}

.Step2-body {
  display: flex;
  font-size: 1.5rem;
  &__label {
    margin: 1rem 1rem 1rem 8rem;
  }
  &-select {
    text-align: center;
    width: 16rem;
    font-size: 1.5rem;
    background-color: transparent;
    &:hover {
      background-color: $accentColor;
    }
  }
}
