.Cta {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  height: 80vh;

  &-btns{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
  }
}