@import "../../scss/settings/breakpoints.scss";

.Cta {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  height: 80vh;
  &-btns {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    @include M {
      display: block;
    }
  }
}
