@import "../../scss/settings/colors.scss";
@import "../../scss/settings/breakpoints.scss";

.Form-container {
  height: auto;
  min-height: 80vh;
  background-image: url(../../assets/Background-Form.jpg);
  background-size: cover;
}

.NavBtn {
  display: flex;
  font-size: 2rem;
  border: 1px solid $textColor;
  width: 8rem;
  height: 3rem;
  margin: 1.375rem;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  line-height: 3rem;
  padding: 0 3.5rem;
  @include M {
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    margin: 0.6rem;
  }
  @media (min-width: 428px) {
    &:hover {
      background-color: $accentColor;
      cursor: pointer;
    }
  }
}

.Form-nav {
  display: flex;
  margin-left: 8rem;
  @include M {
    margin-left: 2rem;
  }
}
