.Contact {
  display: flex;
  height: 100vh;
  &-image {
    width: 55vw;
    background-image: url(../../assets/Background-Contact-Form.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.3;
  }
  &-form {
    width: 45vw;
    &-data {
      display: flex;
      flex-direction: column;
      width: 25vw;
      margin: 0 auto;
      &-info {
        display: flex;
        justify-content: space-between;
        &__label {
          font-weight: 600;
          text-align: start;
        }
        &__field {
        }
      }
    }
  }
}

.labelInput {
  display: flex;
  flex-direction: column;
}
