@import "../../scss/settings/breakpoints.scss";

.GiveAwayNavHeader {
  max-width: 1758px;
  height: 100vh;
  display: flex;
  &-banner {
    width: 50%;
    max-height: 100vh;
    background-image: url(../../assets/Form-Hero-Image.jpg);
    background-size: cover;
    background-position-x: 100%;
    background-repeat: no-repeat;
    @include L {
      width: 100%;
      opacity: 0.2;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
    }
  }
  &-header {
    width: 45%;
    height: 100vh;
    @include L {
      width: 100%;
    }
    &-steps {
      margin-top: 4rem;
      margin-right: 10rem;
      @include L {
        width: 100%;
      }
      &__text {
        font-size: 2rem;
      }
      &-box {
        margin: 2rem auto;
        display: flex;
        justify-content: space-evenly;
        max-width: 60vw;
        gap: 2rem;
        @include M {
          scale: 70%;
        }
        &-step {
          padding: 2rem;
          width: 6rem;
          > h3 {
            font-size: 2rem;
            margin-bottom: 0.8rem;
            position: relative;
          }
          > p {
            display: flex;
            justify-content: center;
            font-size: 1.5rem;
            position: relative;
            &::after {
              content: "";
              position: absolute;
              width: 7rem;
              height: 7rem;
              border: 1px solid;
              rotate: 45deg;
              top: 0;
              left: 0;
              transform: translate(-50%);
              @include M {
                opacity: 0.4;
              }
            }
          }
        }
      }
    }
  }
}
