@import "../../scss/settings/breakpoints.scss";

@mixin icon {
  display: block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
}

.Footer {
  transform: translate(0, -150%);
  display: flex;
  justify-content: space-between;
  @include M {
    justify-content: space-around;
  }
  &-copyright {
    margin-left: 50%;
    transform: translate(-50%);
    @include M {
      margin-left: 5rem;
      transform: none;
      font-size: 0.7rem;
    }
  }
  &-links {
    display: flex;
    gap: 1rem;
    margin-right: 7rem;
    transform: translate(0, -50%);
    @include M {
      margin-left: 6rem;
      transform: none;
    }
    &__facebook {
      @include icon;
      background-image: url(../../assets/Facebook.svg);
    }
    &__instagram {
      @include icon;
      background-image: url(../../assets/Instagram.svg);
    }
  }
}
